/* Color Theme Swatches in Hex */
$funny-animals-1-hex: #8C1F3C;
$funny-animals-4-hex: #5D3CA6;
$funny-animals-6-hex: #f2f0f5;

/* Color Theme Swatches in RGBA */
$funny-animals-1-rgba: rgba(140,30,60, .7);
$funny-animals-3-rgba: rgba(92,58,140, .7);